<p>property-binding works!</p>

<!-- if u want to bind dynamically then we go for property Binding
property binding always bind to html attribute/custom attribute/Directive -->

<!-- syntax = > [attribute_name]="Property_Name" -->

<!-- <input type="text"  name="username" value=""
 placeholder="Enter the Username">
 <br><br>
 <input type="text"  [value]="name"
 placeholder="Enter the Username"> <br><br>

 <img [src]="imgurl" alt=""> <hr> -->

 <h2> Difference Between String Interpolation vs Property Binding </h2>

 <div hidden=" {{ishidden}} ">
        String Interpolation 
 </div> <hr>

 <div [hidden]="ishidden">
        Property Binding
 </div>
