
<div class="container-fluid">
    <app-header></app-header>

    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

            <div>
                <button (click)="onAddEmployee()" 
                class="btn btn-success">Add Employee</button>

                <button  (click)="onUpdateEmployee(popUp)" 
                class="btn btn-warning">Update Employee</button>

                <button (click)="onDelete()"  
                class="btn btn-danger">Delete Employee</button>
                
                <button (click)="onChangeStatus()" 
                 class="btn btn-info">Change Status</button>

            </div>



        </div>

    </div>

    <ng-template #popUp >
		<!-- <h2>Pop Up Generatated</h2> -->
            <app-updateemployee [parentdata]="empobj"></app-updateemployee>
        <button (click)="modalRef.hide()" class="btn btn-danger">Cancel</button>
    </ng-template>

    <br>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <th>#</th>
                <th>ID</th>
                <th>Action</th>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Country</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of EmpData | paginate:{ itemsPerPage: 5, currentPage: p };index as i" >
                    <td> {{i+1}} </td>
                    <td> {{item.id}} </td>
                    <td > <input type="radio" 
                        name="myaction" (click)="onRadio(item)" > </td>
                    <td> <a [routerLink]="['/EmployeeDetails',item.id]"> {{item.name}} </a> </td>
                    <td> {{item.departmentit}} </td>
                    <td> <h5 style="text-align: center;"> 
                        <span [ngClass]="{
                            'badge':true, 'badge-pill':true,
                            'badge-success':item.status.toLowerCase()=='active',
                            'badge-warning':item.status.toLowerCase()=='inactive',
                            'badge-danger' : item.status.toLowerCase()== 'suspend'

                        }" style="padding: 8px;" >
                        {{item.status}}

                    </span></h5>  </td>
                    <td> {{item.createddtm | date:'dd-MM-yyyy'}} </td>
                    <td> {{item.country.cname}} </td>
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>

    </div>

</div>



</div>


