<p>fordirective works!</p>

<!-- <ul>
    <li *ngFor="let item of course">
        {{item}}
    </li>
</ul>
<br><br>
<ul type="square">
    <li *ngFor="let item of course;index as i">
       {{i+1}} {{item}}
    </li>
</ul> -->
<br><br>
<!-- <div>
    <h2 *ngFor="let item of course;index as i" 
  >
       <span   *ngIf="i!=2 && i!=3">
        {{i}} {{item}}
       </span>
        
    </h2>
</div> -->

<table border="1px">
    <thead>
        <th>Sr No</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of arrobj;index as i">
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td> {{item.price}} </td>
            <td> {{item.quantity}} </td>
        </tr>

    </tbody>
</table>
<hr>

<table border="1px">
    <thead>
        <th>Sr No</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of arrobj;index as i"
            (mouseover)="onMouseOver(item)"
            (mouseout)="onMouseOut()"
            [ngClass]="{
                'highlight':selected==item.name
            }"
        >
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td> {{item.price}} </td>
            <td> {{item.quantity}} </td>
        </tr>

    </tbody>
</table>

