<p>if-directive works!</p>

<button (click)="result=2+2">Addition</button>
<br>
<h2>Result is {{result}} </h2>
<hr>
<!-- structural Directive=>
if directive
For Directive 
switch directive -->
<h2>structural Directive</h2>

<div *ngIf="rating<4">
    <h2>Condition is true </h2>
</div>
<br><br>

<div *ngIf="rating<4;else myelsepart">
    <h2>Condition is true......... </h2>
</div>

<!-- <div #myelsepart>
    <h2>Condition is False </h2>
</div> -->

<ng-template #myelsepart>
    <h2>Condition is False </h2>
</ng-template>
<hr>
<h2> Use if - else part  </h2>

<div *ngIf="rating1<4;then ifpart else elsepart1">

</div>

<ng-template #ifpart>
    <div style="background-color: blue;color: white;">
        Condition is True
    </div>

</ng-template>

<ng-template #elsepart1>
    <div style="background-color: violet;color: whitesmoke;">
        Condition is False
    </div>
</ng-template>
